include bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../mixins

doctype html
html(lang="ru")

  head
    +head()
    block vendors-css

      // build:css css/vendor.css
      link(rel="stylesheet" href="libs/normalize-css/normalize.css")
      link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
      // endbuild

    block title

  body

    <!--[if lt IE 8]>
    p(style="padding: 20px;")
      | Вы используете старую версию браузера.
      | Пожалуйста
      a(href='http://browsehappy.com/', style="padding: 0 5px; font-weight: bold; text-transform: uppercase; color: blue;") обновите ваш браузер
      | перейдя по ссылке.
    <![endif]-->

    .wrapper

      block header
        +header()
      block content
      block footer
        +footer()

    block vendors-js

      // build:js js/vendor.js
      script( src="libs/jquery/dist/jquery.min.js")
      script( src="libs/slick-carousel/slick/slick.min.js")
      // endbuild

    block main-scripts-link

      // build:js js/main.js
      script( src="js/main.js")
      // endbuild

    block scripts