extends _assets/template

block title
    title contact

block header
    +header()(class="header-top")

block content
    +b.MAIN.text-page.contact
        +title("Контакты")
        +e.DIV.wrp
            +e.DIV.container
                p Заказы принимаются круглосуточно на сайте с доставкой на следующий рабочий день. Также возможно осуществить заказ через менеджера по телефону 8 ( 812 ) 967-66-85, с доставкой на следующий рабочий день.2. Доставка осуществляется в рабочие дни с 13-22. Условия временных ограничений обговариваются дополнительно с менеджером при подтверждении заказа.3. Доставка по СПб ( в пределах КАД) -300р при стоимости заказа до 3000р. При заказе свыше 3000 р. стоимость доставки- бесплатно.По области доставка заказов оплачивается следующим образо— до 30 км от КАД — 450р , при сумме покупок от 7000 р. стоимость доставки — бесплатн— 31 — 80 км от КАД — 700р, при сумме покупок от 9000 — бесплатн— от 81 км от КАД стоимость доставки рассчитывается индивидуальнУточнить стоимость доставки продуктов можно у менеджера по телефону.4. Оплата производится за наличный расчет по факту получения товара.Также принимается оплата через Сбербанк онлайн по факту получения товара.Для юридических лиц возможна также безналичная форма расчета при заключении официального договора купли-продажи.5. Стоимость подъема товара частным лицам на этаж в многоквартирные дома:— если в доме имеется лифт и вес товара менее 40 кг, подъем осуществляется бесплатно;— при отсутствии лифта и весом товара более 40 кг, стоимость подъема – 80 р. за этаж;— при весе заказа более 100 кг, стоимость подъема обговаривается дополнительно.
