include layout/head
include layout/header
include layout/footer

include components/components
include components/sliders/top-slider
include components/sliders/main-slider
include components/sliders/slider-component

