mixin slide()
    +b.A.slide-main(href="#")
       +e.SPAN.container
            +e.IMG.sale-icon(src="img/percent.svg")
            +e.SPAN.img-block
                +e.IMG.img(src="img/shrimp.jpg")
            +e.SPAN.text-block
                span Икра красная кеты ~ 250 г., новый вылов, Камчатка, 2017 г Икра красная кеты ~ 250 г., новый вылов, Камчатка, 2017 г
            +e.SPAN.price-block
                span
                    | 450,00
                    ins i
                +e.SPAN.old-price
                    span
                        | 990,00
                        ins i













































